<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="local-nuget" value="G:\Fildrance\doc\local-nuget" />
    <add key="interfax-packages" value="https://scan-nuget.devel.ifx/v3/index.json" />
  </packageSources>
   <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <add key="nuget" value="true" />
    <add key="interfax-packages" value="true" />
    <add key="dotnet-eng" value="true" />
    <add key="Microsoft Visual Studio Offline Packages" value="true" />
    <add key="local-nuget" value="true" />
  </disabledPackageSources>
</configuration>